/* Basic Reset Style */
*{
  margin: 0;
  padding:0;
  list-style: none;
  text-decoration: none;
}
/* General Styles */
body {
  background-color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 300;
  font-family: Arial;
  line-height: 1.2em;
  min-width: 960px;
  width: 100%;
}

p {
  font-size: 1.2em;
  margin: 1em;
}

a {
  color: #1D766F;
}

h1 {
  font-size: 2.2em;
  /*float: left;*/
  line-height: 75px;
}

h2 {
  background-color: rgb(60, 60, 60);
  color: #FFF;
  font-size: 2.4em;
  font-weight: 400;
  line-height: 80px;
  margin: 0 0 0.5em 0;
  text-align: center;
}

h3 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 0 0.3em 0;
}

h4 {
  color: rgb(120, 120, 120);
  font-size: 1em;
}

/* Navigation */
/*.nav li {
  float: left;
}*/
/*.nav li a {
  color: #fff;
  margin: 0 10px;
  padding: 5px 10px;
}*/

/*div.wrapper{
  width: 80%;
  max-width:1400px;
  margin: 0 auto;
}*/

/*.jump {
  color: #565656;
  line-height: 80px;
  position: absolute;
  text-decoration: none;
  top: 0;
}
.jump.up {
  left: 15px;
}
.jump.down {
  right: 15px;
}*/


/* Header */
#header {
  background-color: #009D92;
  padding: 10px;
}
#header h1 {
  color: #FFEECC;
  background: url('../images/icons/it.png') no-repeat 0 50%;
  padding-left: 40px;
}
#header a:hover{
  color: #efefef;
}
/*
#header .nav {
  float: right;
  font-size: 1.2em;
  margin-left: 20px;
}
#header .nav li {
  line-height: 75px;
}
*/


/* Main */
/*#main div {
  margin-bottom: 1em;
  position: relative;
}*/

/* Famous Women */
#famous div.woman {
  background-color: white;
  /*float: left;*/
  min-height: 250px;
  margin: 1%;
  padding: 2%;
  width: 27.33%;
}

/*#famous div.break {
  clear: left;
}*/

#famous div img {
  display: block;
  margin: 1em auto;
  width: 100%;
}


/* Organizations */
/*#organizations {
  clear: both;
}*/

#organizations ol {
  margin: 50px;
  /*position: relative;*/
}
#organizations ol li {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-left: 5px;
  max-width: 50%;
}
#organizations img {
  /*position: absolute;*/
  /*right: 20px;*/
  /*top: 0;*/
  display: none;
  max-width: 40%;
}
/*#organizations li:hover img {
  display: block;
}*/

/* Fun Facts */
#facts ul {
  margin: 50px;
}
#facts ul li {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-left: 5px;
}

/* Footer */
#footer {
  background-color: #00665F;
}

/*#footer .nav {
  float: left;
  font-size: 1.1em;
  margin: 10px;
}*/

#footer span{
  /*float: right;*/
  color: #68A392;
}

#footer a {
  color: #68A392;
}
#footer a:hover {
  color: #efefef;
}

/* clearfix hack */
/*.clearfix:after {
  content: "";
  display: table;
  clear: both;
}*/