/* Basic Reset Style */
*{
  margin: 0;
  padding:0;
  list-style: none;
  text-decoration: none;
}
/* General Styles */
body {
  background-color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 300;
  font-family: Arial;
  line-height: 1.2em;
  min-width: 960px;
  width: 100%;
}

a {
  color: #1D766F;
}

h1 {
  font-size: 2.2em;
  line-height: 75px;
}

h2 {
  background-color: rgb(60, 60, 60);
  color: #FFF;
  font-size: 2.4em;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  margin: 0 0 0.5em 0;
}

h3 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 0 0.3em 0;
}

h4 {
  color: rgb(120, 120, 120);
  font-size: 1em;
}

p{
  font-size: 1.2em;
  margin: 1em;
}

/* Header */
#header {
  background-color: #009D92;
  padding-left: 10px;
}
#header h1 {
  color: #FFEECC;
  padding-left: 40px;
}
#header a:hover {
  color: #efefef;
}

/* Main Content */
#famous div.woman {
  background-color: white;
  margin: 1%;
  padding: 2%;
  width: 27.33%;
  min-height: 250px;
}

#famous div img {
  display: block;
  margin: 1em auto;
  width: 100%;
}

#organizations ul {
  margin: 50px;
}

#organizations ul li {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-left: 5px;
  max-width: 50%;
}

#organizations img {
  display:none;
  max-width: 40%;
}

#facts ul {
  margin: 50px;
}

#facts ul li {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-left: 5px;
}

/* Footer */
#footer {
  background-color: #00665F;
}

#footer a {
  color: #68A392;
}

#footer span {
  color: #68A392;
}

#footer a:hover {
  color: #efefef;
}

